#  Output directories  #
testResultFolder = report
# -------------------- #

######### System properties ##########
ChromeDriverPath =/usr/lib/chromium-browser/chromedriver
GekoDrPath =/usr/lib/geckodriver
TimeOut = 1400
TimeWAIT = 120
#######################################

MAIN_URL=https://jsonplaceholder.typicode.com/
MAIN_URL_SELENIUM=https://translate.google.com/#en